/* Arquivo de estilos para a página de boas-vindas */

/* Definições básicas de estilo */
body { font-family: Arial, sans-serif; background-color: #f0f0f0; margin: 0; padding: 20px; }  

/* Estilo para o cabeçalho */
h1 { color: hsl(230, 88%, 36%); }  

/* Estilo para os parágrafos */
p {  color: #666; line-height: 1.6; font-size: 16px; }