/* Estilo CSS do Projeto Caixa */

.conteudo {
  border: 1px solid red;

  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  */
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px

    width: 150px;

}