/* Estilo CSS do Projeto Anna Bella */

/* Autor: Seu Nome */
body {
  background: #d2d2d2c1 url("imagens/fundo.png");
  font: 16px Arial, helvetica, sans-serif;
}

/* Estilo do contêiner principal */
#principal {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

/* Estilo do menu */
#menu {
  background: #c5c5b2;
  padding: 15px;
}

/* Estilo dos links do menu */
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 5px;
}

a:hover {
  color: #a80b0b
}

/* Estilo do rodapé */

#rodape {
  background: #c5c5b2;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
#rodape p {
  margin: 0;
  font-size: 0.9em;
  color: #000;
  text-align: center;
  font-weight: bold;
}

/* Estilo dos textos */
h1, h2, h3 {
  color: #828271;
  font-size: 1.25em;
}

p {
  color: #666;
}

/* Estilo dos imagens */
.img-responsive {
  border: 10px solid #C3C3AE;

}

/* Estilo dos formulários */

form {
  background: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

